/* ===== LIKE ICON BASE ===== */
.like-icon {
    inline-size: 24px;
    block-size: 24px;
    cursor: pointer;
}

.core,
.main-body {
    transition: fill 0.3s ease;
}

.contour {
    transition: fill 0.3s ease;
}

.sparks {
    opacity: 0;
}

/* ===== HOVER ===== */
.like-icon:hover .core {
    fill: var(--contour-color);
}

.like-icon:hover .main-body {
    fill: var(--contour-color);
    transition-delay: 0.05s;
}

/* ===== ACTIVE ===== */
.card__icon-button:active .core,
.card__icon-button:active .main-body {
    fill: var(--animation-fill-color);
}

/* ===== LIKED ===== */
.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour {
    fill: var(--animation-fill-color);
}

/* ===== SCALE ===== */
.like-icon.is-liked .heart {
    animation: scale-heart 0.3s ease-in;
}

@keyframes scale-heart {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.25);
    }
}

/* ===== SPARKS ===== */
.like-icon.is-liked .sparks {
    animation: sparks 0.3s ease-in 0.3s;
}

@keyframes sparks {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
