:root {
    /* ===== Шрифты ===== */
    --main-font: 'Inter', system-ui, sans-serif;
    --accent-font: 'PressStart2P', monospace;

    --text-weight: 400;
    --title-weight: 700;

    /* ===== Цвета ===== */
    --text-color: #000;
    --background-color: #e7e7e7;
    --accent-color: #000;

    --contour-color: #000;
    --animation-fill-color: #ff0000;

    /* ===== Размеры ===== */
    --content-width: clamp(320px, 90vw, 700px);
    --header-padding: clamp(16px, 5vw, 32px);
    --card-gap: 32px;
}
